@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
   --color: #9cec13;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   
}
.cabeçalho{
   display: flex;
   justify-content: center;
   border: 1px solid rgb(226, 226, 225);
}

.cabeçalho div img {
   width: 110px;
   height: 70px;
   margin-right: 10px;
   border: 1px solid black;
   border-radius: 20px;
}

.cabeçalho-1 h2 {
       font-size: 20px;
}

.cabeçalho-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
    
}

.cabeçalho-2 h2{
     font-size: 18px;
     padding: 30px;
}

.cabeçalho-2 a {
   color: white;
   background-color: #FF8C00;
   font-size: 18px;
   text-align: center;
   padding: 20px;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 20px 30px rgba(42, 42, 43, 0.20);
   background-color: 0.4s ease;
   color: 0.4s ease;
   transform: 0.3s ease;
}

.cabeçalho-2 a:hover {
     transition: 0s;
}