
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   max-height:120vh ;
   background-image: url(imagen/fundo\ da\ pagina.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   
}
main {
   width: 100%;
  padding-top: 100px;
}

.cabeçalho{
   background-image: url(imagen/fundo\ da\ pagina.png);
   background-repeat:no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(226, 226, 225);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100px;
} 

.cabeçalho div img {
   margin-top: 20px;
   width: 110px;
   height: 70px;
   margin-right: 10px; 
   border-radius: 20px;

}
.cabeçalho-1 h1 {
   
   margin:20px 0 0 0;
}

.cabeçalho-1 h2 {
       font-size: 20px;
       margin: 0;
}

.cabeçalho-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
    
}

.cabeçalho-2 h2{
     font-size: 18px;
     padding: 30px;
}

.cabeçalho-2 a {
   color: white;
   background-color: #FF8C00;
   font-size: 18px;
   text-align: center;
   padding: 20px;
   border: 2px solid;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 20px 30px rgba(42, 42, 43, 0.20);
  background-color: 0.4s ease;
   transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.cabeçalho-2 a:hover {
      color: #9cec13;
      background-color:#4CAF50 ;
      transform: translateY(-4px);
}

.container-verif {
   display: flex;
   flex-direction:column ;
   align-items: center;
   margin-top: 50px;
}

.text-verif span {
  text-align: center;
   font-size: 25px;
   max-width: 60px;
   max-height: 20px;
    color: white;
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 60px;
}

.container-verif h2 {
    font-size: 36px;
    margin:30px 0 10px 0 ;
}

.container-verif p{
       font-size: 20px;
       margin:0 0 30px 0;
}

.conatainer-dados {
      max-width: 550px;
      background-color: #4CAF50;
      border-radius:20px;
}

.card img {
     max-width:540px ;
     border-radius: 20px;
}

footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width:100%;
   margin: 48px 0 0 0;
   padding: 20px;
   color:white ;
   background-color: #FF8C00;
}