@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
   --button:#b1a7a6;
   --button-hover:linear-gradient(#660708,#a4161a,#ba181b);
   --button-border:#fcd601;
   --color-text:#fcd601;
   --branco:#FFFFFF;
   --preto-:#0b090a;
   --color-cards:#660708;
   --box-shadow:#69696933;
   --footer-color:#999;
   --footer-bottom:#d4af3733;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   
   max-height:120vh ;
   background-image: url(../public/plano-fundo-elite.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   
}

main {
   width: 100%;
  padding-top: 100px;
}

.cabecalho{
   background-image: url(../public/plano-fundo-elite.png);
   background-repeat:no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   background-color: var(--branco);;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 110px;
} 

.cabecalho div img {
   margin: 3px 10px 0 40px;
   width: 100px;
   height: 100px; 
   
}
 
.cabecalho-1 h1 {
   color: var(--color-text);
   font-size: 36px;
   margin:20px 0 0 0;
}

.cabecalho-1 h2 {
       color: var(--branco);
       font-size: 20px;
       margin: 0;
}

.cabecalho-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 400px;
    
}

.cabecalho-2 a {
   color: var(--preto-);
    background: linear-gradient(
  90deg,
  #FFF8E1 0%,
  #F2D586 30%,
  #D4AF37 50%,
  #B8860B 70%,
  #8A5A1E 100%
); 

  background-size: 300% 300%;
  animation: goldShine 4s ease-in-out infinite;
   font-size: 18px;
   text-align: center;
   width: 120px;
   padding: 10px;
   border:1px solid ;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 20px 30px var(--box-shadow);
background-color: 0.4s ease;
   transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.cabecalho-2 a:hover {
      border-color:var(--button-border);
      color: var(--branco);
      background:var(--button-hover);
      transform: translateY(-4px);
}

.container-verif {
   display: flex;
   flex-direction:column ;
   align-items: center;
   margin-top: 50px;
}

.text-verif span {
  text-align: center;
   font-size: 25px;
   max-width: 60px;
   max-height: 20px;
    color: var(--preto-);
    background: linear-gradient(
  90deg,
  #FFF8E1 0%,
  #F2D586 30%,
  #D4AF37 50%,
  #B8860B 70%,
  #8A5A1E 100%
); 

  background-size: 300% 300%;
  animation: goldShine 4s ease-in-out infinite;
    padding: 20px;
    border: 1px solid var(--button-border);
    border-radius: 60px;
}

.container-verif h2 {
    color: var(--branco);
    font-size: 36px;
    margin:30px 0 10px 0 ;
}

.container-verif p{
       color: var(--branco);
       font-size: 20px;
       margin:0 0 30px 0;
}

.conatainer-dados {
      max-width: 550px;
      background-color: var(--button-border);
      border-radius:20px;
}

.card img {
     max-width:540px ;
     border-radius: 20px;
}

.footer {
  background: linear-gradient(180deg, #1a0000, #000);
  color: var(--branco);
  padding: 60px 20px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer h2 {
  color: var(--color-text);
  font-size: 28px;
  margin-bottom: 10px;
}

.footer h3 {
  color: var(--color-text);
  margin-bottom: 15px;
  font-size: 18px;
}

.footer p,
.footer li {
  font-size: 14px;
  color:var(--footer-color);
  line-height: 1.6;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer a {
  text-decoration: none;
  color:var(--footer-color);
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--color-text);
}

.footer-bottom {
  border-top: 1px solid var(--footer-bottom);
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  color:var(--footer-color);
}

/* Animação */
@keyframes goldShine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* celular */
@media ( max-width: 480px) {

.cabecalho div img {
   width: 100px;
   height: 100px;
   margin: 0 5px 0 5px; 

}
.cabecalho-1 h1 {
   color: var(--color-text);
  font-weight: 700;
   font-size: 30px;

}

.cabecalho-1 h2 {
       color: var(--branco);
       font-size: 15px;
       margin-right: 10px;
}

.cabecalho-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.cabecalho-2 a {
   
   color: var(--preto-);
   background: linear-gradient(
  90deg,
  #FFF8E1 0%,
  #F2D586 30%,
  #D4AF37 50%,
  #B8860B 70%,
  #8A5A1E 100%
); 

  background-size: 300% 300%;
  animation: goldShine 4s ease-in-out infinite;
   font-size: 18px;
   text-align: center;
   padding: 10px;
   border: 1px solid;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 20px 30px var(--box-shadow);
background-color: 0.4s ease;
   transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}
.container-verif p{
       color: var(--branco);
       font-size: 20px;
       margin:0 0 30px 0;
       text-align: center;
}
}
/* Desktop grande */
@media (min-width: 1440px) {

main {
   width: 100%;

}

.cabecalho div img {
   display: flex;
   margin: 3px 10px 0 0 ;
   width: 100px;
   height: 100px; 

}
.cabecalho-1 h1 {
   color: var(--color-text);
  font-weight: 700;
   font-size: 36px;
   margin:20px 500px 0 0;
}

.cabecalho-1 h2 {
       color: var(--branco);
       font-size: 20px;
       margin: 0 500px 0 0;
}

}