@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
   --button-border: #9cec13;
   --button-hover:#4CAF50;
   --button:#FF8C00;
   --branco:#FFFFFF;
   --box-shadow:#2a2a2b33;
   --text:#ccc;
   
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   max-height:120vh ;
   background-image:url(../public/fundo\ da\ pagina.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   
}
main {
   width: 100%;
  padding-top: 100px;
}

.cabeçalho{
   background-image: url(../public/fundo\ da\ pagina.png);
   background-repeat:no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100px;
} 

.cabeçalho div img {
   margin-top: 20px;
   width: 110px;
   height: 70px;
   margin-right: 10px; 
   border-radius: 20px;

}
.cabeçalho-1 h1 {
   
   margin:20px 0 0 0;
}

.cabeçalho-1 h2 {
       font-size: 20px;
       margin: 0;
}

.cabeçalho-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
    
}

.cabeçalho-2 h2{
     font-size: 18px;
     padding: 30px;
}

.cabeçalho-2 a {
   color: var(--branco);
   background-color: var(--button);
   font-size: 18px;
   text-align: center;
   padding: 20px;
   border: 2px solid;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 20px 30px var(--box-shadow);
  background-color: 0.4s ease;
   transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.cabeçalho-2 a:hover {
      color: var(--button-border);
      background-color:var(--button-hover) ;
      transform: translateY(-4px);
}

.container-verif {
   display: flex;
   flex-direction:column ;
   align-items: center;
   margin-top: 50px;
}

.text-verif span {
  text-align: center;
   font-size: 25px;
   max-width: 60px;
   max-height: 20px;
    color: var(--branco);
    background-color: var(--button-hover);
    padding: 20px;
    border-radius: 60px;
}

.container-verif h2 {
    font-size: 36px;
    margin:30px 0 10px 0 ;
}

.container-verif p{
       font-size: 20px;
       margin:0 0 30px 0;
}

.conatainer-dados {
      max-width: 550px;
      background-color: var(--button-border);
      border-radius:20px;
}

.card img {
     max-width:540px ;
     border-radius: 20px;
}

footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width:100%;
   margin: 48px 0 0 0;
   padding: 20px;
   color:var(--branco);
   background-color: var(--button);
}

@media (max-width: 767px){
.cabeçalho{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 110px;
} 
.cabeçalho div img {
   margin:20px 5px 0 5px;
   width: 100px;
   height: 70px;
   border-radius: 20px;

}
.cabeçalho-1 h1 {
   text-align: center;
   font-size: 20px;
   margin-top: 15px;
}

.cabeçalho-1 h2 {
       display: flex;
       flex-wrap: wrap;
       font-size: 20px;
       margin: 0 ;
}

.cabeçalho-2 {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    
}

.cabeçalho-2 h2{
   text-align: center;
     font-size: 18px;
     padding: 0;
}

.cabeçalho-2 a {
   font-size: 20px;
   padding: 10px;
   margin:0 5px 10px 5px;
  
}
.container-verif {
   display: flex;
   flex-direction:column;
   justify-content: center;
   margin-top: 50px;
}

.text-verif span {
  text-align: center;
   font-size: 25px;
   max-width: 60px;
   max-height: 20px;
    color: var(--branco);
    background-color: var(--button-hover);
    padding: 20px;
    border-radius: 60px;
}

.container-verif h2 {
    font-size: 36px;
    margin:30px 0 10px 0 ;
}

.container-verif p{
       font-size: 20px;
       margin:0 0 30px 0;
       text-align: center;
}

.conatainer-dados {
      max-width: 550px;
      background-color: var(--button-border);
      border-radius:20px;
}

.card img {
    
     max-width:340px ;
     border-radius: 20px;
}
footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width:100%;
   margin: 48px 0 0 0;
   padding: 20px;
   color:var(--branco);
   background-color: var(--button);
}

}