@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
   --button:#b1a7a6;
   --button-hover:linear-gradient(#660708,#a4161a,#ba181b);
   --button-border:#fcd601;
    --color-text:#fcd601;
   --branco:#FFFFFF;
   --preto-:#0b090a;
   --color-cards:#660708;
   --box-shadow:#69696933;
   --boder-cards:#cccccc6b;
   --footer:#660708;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   
   max-height:120vh ;
   background-image: url(../public/plano-fundo-elite.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   
}

main {
   width: 100%;
  padding-top: 100px;
}

.cabecalho{
   background-image: url(../public/plano-fundo-elite.png);
   background-repeat:no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   background-color: var(--branco);;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 110px;
} 

.cabecalho div img {
   margin: 3px 10px 0 40px;
   width: 100px;
   height: 100px; 
   
}
 
.cabecalho-1 h1 {
   color: var(--color-text);
   font-size: 36px;
   margin:20px 0 0 0;
}

.cabecalho-1 h2 {
       color: var(--branco);
       font-size: 20px;
       margin: 0;
}

.cabecalho-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 400px;
    
}

.cabecalho-2 a {
   color: var(--preto-);
    background: linear-gradient(
  90deg,
  #FFF8E1 0%,
  #F2D586 30%,
  #D4AF37 50%,
  #B8860B 70%,
  #8A5A1E 100%
); 

  background-size: 300% 300%;
  animation: goldShine 4s ease-in-out infinite;
   font-size: 18px;
   text-align: center;
   width: 120px;
   padding: 10px;
   border:1px solid ;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 20px 30px var(--box-shadow);
background-color: 0.4s ease;
   transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.cabecalho-2 a:hover {
      border-color:var(--button-border);
      color: var(--branco);
      background:var(--button-hover);
      transform: translateY(-4px);
}

.container-verif {
   display: flex;
   flex-direction:column ;
   align-items: center;
   margin-top: 50px;
}

.text-verif span {
  text-align: center;
   font-size: 25px;
   max-width: 60px;
   max-height: 20px;
    color: var(--branco);
    background-color: var(--button-hover);
    padding: 20px;
    border-radius: 60px;
}

.container-verif h2 {
    color: var(--branco);
    font-size: 36px;
    margin:30px 0 10px 0 ;
}

.container-verif p{
       color: var(--branco);
       font-size: 20px;
       margin:0 0 30px 0;
}

.conatainer-dados {
      max-width: 550px;
      background-color: var(--button-border);
      border-radius:20px;
}

.card img {
     max-width:540px ;
     border-radius: 20px;
}

footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100;
   margin-top: 100px;
   padding: 20px;
   color:var(--branco) ;
   background-color: var(--footer);
}

/* Animação */
@keyframes goldShine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 767px){
.cabecalho{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 110px;
} 
.cabecalho div img {
   margin:20px 5px 0 5px;
   width: 100px;
   height: 70px;
   border-radius: 20px;

}
.cabecalho-1 h1 {
   text-align: center;
   font-size: 20px;
   margin-top: 15px;
}

.cabecalho-1 h2 {
       display: flex;
       flex-wrap: wrap;
       font-size: 20px;
       margin: 0 ;
}

.cabecalho-2 {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    
}

.cabecalho-2 h2{
   text-align: center;
     font-size: 18px;
     padding: 0;
}

.cabecalho-2 a {
   font-size: 20px;
   padding: 10px;
   margin:0 3px 10px 8px;
  
}
.container-verif {
   display: flex;
   flex-direction:column;
   justify-content: center;
   margin-top: 50px;
}

.text-verif span {
  text-align: center;
   font-size: 25px;
   max-width: 60px;
   max-height: 20px;
    color: var(--branco);
    background-color: var(--button-hover);
    padding: 20px;
    border-radius: 60px;
}

.container-verif h2 {
    font-size: 36px;
    margin:30px 0 10px 0 ;
}

.container-verif p{
       font-size: 20px;
       margin:0 0 30px 0;
       text-align: center;
}

.conatainer-dados {
      max-width: 550px;
      background-color: var(--button-border);
      border-radius:20px;
}

.card img {
    
     max-width:340px ;
     border-radius: 20px;
}
footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width:100%;
   margin: 48px 0 0 0;
   padding: 20px;
   color:var(--branco);
  background-color: var(--footer); 
}

}