@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
   --button:#b1a7a6;
   --button-hover:linear-gradient(#660708,#a4161a,#ba181b);
   --button-border:#fcd601;
   --color-text:#fcd601;
   --branco:#FFFFFF;
   --preto-:#0b090a;
   --color-cards:#660708;
   --box-shadow:#69696933;
   --boder-cards:#cccccc6b;
   --footer:#660708;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   
   max-height:120vh ;
   background-image: url(../public/elitepet/fundo-elite.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   
}

main {
   width: 100%;
  padding-top: 100px;
}

.cabeçalho{
   background-image: url(../public/elitepet/plano-fundo-elite.png);
   background-repeat:no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   background-color: var(--branco);;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 110px;
} 

.cabeçalho div img {
   margin-top: 10px;
   width: 100px;
   height: 90px;
   margin-right: 10px; 
   border-radius: 50px;

}
.cabeçalho-1 h1 {
   color: var(--color-text);
  font-weight: 700;
   font-size: 48px;
   margin:20px 0 0 0;
}

.cabeçalho-1 h2 {
       color: var(--branco);
       font-size: 20px;
       margin: 0;
}

.cabeçalho-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 400px;
    
}

.cabeçalho-2 a {
   color: var(--preto-);
   background: linear-gradient(
  90deg,
  #FFF8E1 0%,
  #F2D586 30%,
  #D4AF37 50%,
  #B8860B 70%,
  #8A5A1E 100%
); 

  background-size: 300% 300%;
  animation: goldShine 4s ease-in-out infinite;
   font-size: 18px;
   text-align: center;
   padding: 20px;
   border: 1px solid;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 20px 30px var(--box-shadow);
background-color: 0.4s ease;
   transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.cabeçalho-2 a:hover {
      border-color:var(--button-border);
      color: var(--branco);
      background:var(--button-hover);
      transform: translateY(-4px);
}

.block{
   display: flex;
   width: 50%;
}

.text {
   color: var(--branco);
   flex: 1;
   margin:30px 0 0 50px;
}

.text h1 {
    font-size: 48px;
}

.text p {
    margin:10px 150px 20px 0 ;
    font-size: 20px;
}

.cheklist{
   display: flex;
   flex-direction: column;
}

.text span {
   margin-bottom: 10px;
    text-decoration: underline;
}

.container-benef {
    background: linear-gradient(
  90deg,
  #FFF8E1 0%,
  #F2D586 30%,
  #D4AF37 50%,
  #B8860B 70%,
  #8A5A1E 100%
); 
background-size: 300% 300%;
  animation: goldShine 4s ease-in-out infinite;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
     text-align: center;
     font-weight: bold;
     color: var(--branco);
     font-size: 25px;
     margin: 200px 0 0 0;
     padding: 30px;
 
}

.cards {
   display: flex;
   justify-content: center;
   background-image: url(../public/elitepet/plano-fundo-elite.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   padding: 20px;
}

.card{
   max-width: 200px;
   margin:0 20px  30px 0;
   background-color: var(--color-cards);
   border:2px solid var(--button-border);
   border-radius: 20px ;
   box-shadow: 0 20px 20px var(--box-shadow);
   transition:transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.card:hover{

      color:var(--button-border) ;
      background:var(--button-hover);
      transform: translateY(-4px);
}

.card img {
    height: 200px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.card h3 {
    text-align: center;
    font-size: 20px;
}
.card p {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.container-cliente {
   display:flex;
     flex-direction: row;
     justify-content: center;
     font-weight: bold;
     font-size: 25px;
     padding: 50px;
     color: var(--branco);
      background: linear-gradient(
  90deg,
  #FFF8E1 0%,
  #F2D586 30%,
  #D4AF37 50%,
  #B8860B 70%,
  #8A5A1E 100%
); 
background-size: 300% 300%;
  animation: goldShine 4s ease-in-out infinite;
     background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.feedbks {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-image: url(../public/elitepet/plano-fundo-elite.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   padding: 40px;
}
.feeds {
   background-color: var(--color-cards);
   padding: 10px;
   border-radius: 20px;
    border: 1px solid var(--button-border);
    max-width: 200px ;
    box-shadow: 0 20px 20px var(--box-shadow);
    background-color: 0.4s ease;
   transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.feeds:hover{
   color: var(--button-border);
      background:var(--button-hover);
      transform: translateY(-4px);
}

.feeds img {
   width: 60px;
   height: 60px;
   border: 2px solid var(--button-border);
   border-radius: 40px;
}
.feeds h3{
   margin-bottom: 0;
}

.feeds h4 {
    color: var(--text);
    margin:10px 0 20px 0;
}

.feeds p {
   text-align:center ;
   
}

footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100;
   padding: 20px;
   color:var(--branco) ;
   background-color: var(--footer);
}

/* Animação do button */
@keyframes goldShine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 /* tablet */

@media (max-width:768px) {

   body{
   margin-top: 300px;
   max-height:64vh ;
   max-width:100vw;
   background-image: url(../public/elitepet/fundo-elite.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center;
   
}

main {
   width: 100%;
  padding-top: 100px;
}

 .cabeçalho{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 110px;
} 
.cabeçalho div img {
   margin:20px 10px 0 5px;
   width: 100px;
   height: 80px;
   border-radius: 40px;

}
.cabeçalho-1 h1 {
   text-align: center;
   font-size: 40px;
   margin:20px 180px 0 0;
}

.cabeçalho-1 h2 {
       display: flex;
       flex-wrap: wrap;
       font-size: 20px;
       margin: 0 ;
}

.cabeçalho-2 {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    
}

.cabeçalho-2 h2{
   text-align: center;
     font-size: 18px;
     padding: 0;
}

.cabeçalho-2 a {
   font-size: 20px;
   padding: 10px;
   margin:20px 3px 10px 8px;
  
}
.block{
   display: flex;
   width: 610px;
}


.text {
   color: var(--branco);
   margin:10px 0 0 30px;
}

.text h1 {
    margin: 0 0 0 90px;
    font-size: 48px;
}

.text p {
    margin:10px 0 20px 90px ;
    font-size: 20px;
}

.cheklist{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.text span {
    text-decoration: underline;
}

.container-benef {
     width: 610px;
      background-image: url(../public/elitepet/plano-fundo-elite.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
     text-align: center;
     font-weight: bold;
     color: var(--branco);
     font-size: 25px;
     margin: 0 ;
     padding: -30px 0 0 0 ;
 
}
.cards {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-image: url(../public/elitepet/plano-fundo-elite.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 610px;
   padding: 20px;
   border:2px solid ;
}

.card{
   max-width: 600px;
   margin:0 20px  30px 0;
   background-color: var(--color-cards);
   border:2px solid var(--button-border);
   border-radius: 20px ;
   box-shadow: 0 20px 20px var(--box-shadow);
   transition:transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.card:hover{

      color:var(--button-border) ;
      background:var(--button-hover);
      transform: translateY(-4px);
}

.card img {
   margin-left: 180px;
    height: 200px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.card h3 {
    text-align: center;
    font-size: 20px;
}
.card p {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.container-cliente {
   display:flex;
     flex-direction: row;
     justify-content: center;
     width: 610px;
     font-weight: bold;
     font-size: 25px;
     padding: 50px;
     color: var(--branco);
     background-image: url(../public/elitepet/plano-fundo-elite.png);
     background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.feedbks {
   display: flex;
   flex-direction: row;
   gap: 30px;
   background-image: url(../public/elitepet/plano-fundo-elite.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 610px;
   padding: 40px;
}
.feeds {
   background-color: var(--color-cards);
   padding: 10px;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 20px 30px var(--box-shadow);
background-color: 0.4s ease;
    border: 1px solid var(--button-border);
    max-width: 200px ;
    box-shadow: 0 20px 20px var(--box-shadow);
    background-color: 0.4s ease;
   transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.cabeçalho-2 a:hover {
      border-color:var(--button-border);
      color: var(--branco);
}

.feeds:hover{
   color: var(--button-border);
      background:var(--button-hover);
      transform: translateY(-4px);
}

.feeds img {
   width: 60px;
   height: 60px;
   border: 2px solid var(--button-border);
   border-radius: 40px;
}
.feeds h3{
   margin-bottom: 0;
}

.feeds h4 {
    color: var(--text);
    margin:10px 0 20px 0;
}

.feeds p {
   text-align:center ;
   font-size: 20px;
   
}

footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width:610px;
   margin: 0;
   padding: 20px;
   color:var(--branco);
  background-color: var(--footer); 
}

}

/* NOTEBOOK */
@media (max-width: 2000px) {

  body{
   margin-top: 300px;
   max-height:100vh ;
   max-width:100vw;
   background-image: url(../public/elitepet/fundo-elite.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center;
   
}

main {
   width: 100%;
  
}

 .cabeçalho{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 110px;
} 
.cabeçalho div img {
   margin:10px 10px 0 5px;
   width: 120px;
   height: 95px;
   border-radius: 70px;

}
.cabeçalho-1 h1 {
   text-align: center;
   font-size: 40px;
   margin:20px 400px 0 0;
}

.cabeçalho-1 h2 {
       display: flex;
       flex-wrap: wrap;
       font-size: 20px;
       margin: 0 ;
}

.cabeçalho-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 400px;
    
}

.cabeçalho-2 h2{
   text-align: center;
     font-size: 18px;
     padding: 0;
}

.cabeçalho-2 a {
   font-size: 20px;
   padding: 20px;
   margin:20px 3px 10px 8px;
  
}

.block{
   display: flex;
   width: 590px;
   margin-top: -290px;
}


.text {
   color: var(--branco);
   
}

.text h1 {
    margin-right: 40px;
    font-size: 48px;
}

.text p {
    margin:10px 0 20px 0;
    font-size: 20px;
}

.cheklist{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

}

.text span {
    font-size: 20px;
    text-decoration: underline;
}

}

