@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
   --button:#b1a7a6;
   --button-hover:linear-gradient(#660708,#a4161a,#ba181b);
   --button-border:#ba181b;
   --branco:#FFFFFF;
   --preto-:#0b090a;
   --color-cards:#660708;
   --box-shadow:#69696933;
   --boder-cards:#cccccc6b;
   --footer:#660708;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
   width: 100%;
  padding-top: 100px;
}

.cabeçalho{
   background-image: url(../public/elitepet/plano-fundo-elite.png);
   background-repeat:no-repeat;
   background-size: cover;
   background-color: var(--branco);;
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 110px;
} 

.cabeçalho div img {
   margin: 10px 10px 0 40px;
   width: 100px;
   height: 90px; 
   border-radius: 50px;

}
.cabeçalho-1 h1 {
   color: var(--branco);
   margin:20px 0 0 0;
}

.cabeçalho-1 h2 {
       color: var(--branco);
       font-size: 20px;
       margin: 0;
}

.cabeçalho-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 400px;
    
}

.container{
    display: flex;
}

.container-1{
    flex: 1;
}
.container-1 img {
   width: 100%;
   height: 100%;
}

.form{
   flex: 1;
  max-width: 400px;
  background-image: url(../public/elitepet/plano-fundo-elite.png);
  background-repeat:no-repeat;
   background-size: cover;
  padding: 20px;
  color: var(--branco);
}

.form h3 {
   font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: flex;
  margin-top: 15px;
  font-weight: bold;
}

input, select {
  width: 95%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 2px solid var(--boder-cards);
}

input:focus, select:focus {
  outline: none;
  border-color:var(--button-border);
}

.button {
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-decoration: none;
   font-size: 20px;
  margin-top: 25px;
  width: 94%;
  padding: 12px;
 color: var(--preto-);
   background-color:var(--button);
  border: 1px solid ;
  border-radius: 6px;
  cursor: pointer;
  background-color: 0.4s ease;
   transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.button:hover {
    border-color:var(--button-border);
      color: var(--branco);
      background:var(--button-hover);
      transform: translateY(-4px);
}

footer {
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   justify-content:center;
   width: 100%;
   padding: 20px;
   color:var(--branco) ;
   background-color: var(--footer);
}